html {
    height: 100%;
}


body {
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

section {
    width: 80%;
    height: 60%;
    background: hsl(244, 38%, 16%);
    display: flex;

}

div {
    width: 50%;
}

#right {
    background: url('./images/image-header-desktop.jpg') hsl(277, 64%, 61%);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}
#left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 70px;
    /* padding: 70px;   */
}

b {
    color: hsl(277, 64%, 61%)
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    color: hsl(0, 0%, 100%);
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;

}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    text-align: left;
    width: 100%;
    line-height: 1.5;
}

#text {
    margin-top: 30px;
    display: flex;
    /* gap: 10px; */
    width: 100%;
    justify-content: space-between;
    
}

span {
    display: grid;
    /* gap: 10px; */
}

span p:first-child {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 30px;
}

span p {
    color: hsla(0, 0%, 100%, 0.6);

}

h1, p, b {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1024px) { 
    html {
        height: 100%;
    }
    body {
        height: 100%;
        width: 100%;
        /* display: grid;
        place-items: center; */
    }
    section {
        margin: 10px;
        border-radius: 15px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 20px;
        align-items: center;
        padding-bottom: 35px;
    }
    #right {
        width: 100%;
        height: 300px;
        border-radius: 15px 15px 0 0;
    }
    #left {
        width: 100%;
        height: auto;
        /* text-align: center; */
        display: grid;
        place-items: center;
        /* padding: 0 20px; */
        text-align: center;
    }

    h1 {
        font-size: 25px;
        text-align: center;
        width: 100%;

    }

    p {
        font-size: 13px;
        text-align: center;
        /* width: 100%; */

    }

    #text {
        display: flex;
        flex-direction: column;
        place-items: center;
        text-align: center;
        gap: 25px;
        width: 100%;
    }
    span {
        text-align: center;
        /* margin-bottom: 40px; */
    }

}